/* General styles - put these straight into your stylesheet */
/* specificity = 1 */
body {
  margin: 0;
}

/* specificity = 1 */
html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

/* Selectors to be matched up with rulesets */

/* Rulesets to be matched up with selectors */

/* specificity = 10 */
.card{
  height: 22em;
  width: 35em;
  margin: 5em auto;
  background-color: red;
  border: 0.2em solid black;
  border-radius: 1.5em;
}

/* specificity = 11 */
.card header{
  background: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
  border-radius: 1.5em 1.5em 0 0;
}

/* specificity = 11 */
.card footer{
  background: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
  border-radius: 0 0 1.5em 1.5em;
}

/* specificity = 12 */
.card article img{
  float: right;
  max-height: 100%
}

/*styles specific to card container */
.card article{ 
   height: 12em;
   background-color: rgba(0,0,0,0.5);
}
/*Styles specific to header and footer*/
.card header, .card footer{
  height: 3em;
  padding: 1em 0 1em 1em;
}

/*styles specific to the main business card contents*/
.card h2, .card p{
  margin: 0;
}

.card header h2{
  font: bold 2em/1.5 'Helvetica neue', Arial, 'sans serif';
}  

.card footer p{
  font: 1.5em/2 'Helvetica neue', Arial, 'sans serif';
} 

.card article p{
  padding: 2.15em 0 2.15em 1em; 
  color: HSL(0, 100%, 98%);
}
